<div class="modal-header">

  <div class="map">
    <agm-map [latitude]="patient.latitud" [longitude]="patient.longitud">
      <agm-marker [latitude]="patient.latitud" [longitude]="patient.longitud"></agm-marker>
    </agm-map>
  </div>

  <div class="box">
    <app-img [patient]="patient.picture"></app-img>
    <div class="info">
      <div class="in">
        {{patient.id}}
      </div>
      <div class="in">
        {{patient.name}}
      </div>
      <div class="in">
        {{patient.telefono}}
      </div>
    </div>
  </div>
</div>