/* FONDO */
.rectangulo-izq{
    float: left;
    background: #516CF0;
    width: 50%;
    height: 100vh;
}
.rectangulo-der{
    display: inline-block;
    width: 50%;
    background: #FFF;
    height: 100vh;
}

/* PARA LOS LOGOS */
#logo-cleverbeat{
    width: 33.8%;
    margin-left: 5.5%;
    margin-top: 6.4%;
}
.logo{
    position: absolute;
    margin-left: 42.5%;
    margin-top: 16%;
}
#logo-watchers{
    margin: auto;
    width: 200px;
}

/* CONTENIDO DEL LOGIN */
.contenido{
    text-align: center;
    border: 1px solid transparent;
    align-content: center;
}
h2{
    margin-top: 5%;
    color: #516CF0;
}
#logo-user{
    margin-top: 2%;
    width: 7%;
}
mat-form-field{
    margin-top: 2em;
    width: 30%;
}
button{
    display: block;
    background: #516CF0;
    border-radius: 30px;
    width: 15%;
    color: #FFF;
    margin: auto;
    margin-top: 2em;
}

#alzheimer{
    color: #516CF0;
}
#alzheimer:hover{
    color: #616161;
    text-decoration: none;
}

/* ELIPSES */
#elipse1{
    width: 256px;
    height: 256px;
    opacity: 0.05;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
    top: -25%;
    left: -13%;
}

#elipse2{
    width: 180px;
    height: 180px;
    opacity: 0.05;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
    top: 10%;
    left: 5%;
}

#elipse3{
    width: 120px;
    height: 120px;
    opacity: 0.05;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    bottom: 25%;
    left: 15%;
}