.menu {
    width: 100%;
    height: 56px;
    background: #ffffff;
}

.menu img{
    width: 25px;
    height: 35px;
    margin-right: 80px;
    margin-top: 5px;
}

nav{
    display: flex;
    justify-content: end;
    
}